# Created by http://www.gitignore.io

### R ###
# History files
.Rhistory

# skip user data
.Rproj.user/

# Don't open RStudio Rproj data
*.Rproj

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata